<ng-container *ngIf="information$ | async as information">
  <div class="normal-title">
    <i class="fa fa-info-circle normal-title-icon" aria-hidden="true"></i>
    <span>{{ information.title }}</span>
  </div>

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3638.425989667147!2d120.57073241498371!3d24.22687528435664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3469150089527287%3A0x6168bf5ab08319ca!2sNo.+83%2C+Beiying+Road%2C+Shalu+District%2C+Taichung+City%2C+433!5e0!3m2!1sen!2stw!4v1564278661652!5m2!1sen!2stw"
    class="information-map"
    height="450"
    frameborder="0"
    style="border:0"
    allowfullscreen
  ></iframe>
</ng-container>
