::ng-deep {
  .mark-highlight {
    &-normal,
    &-blue,
    &-purple {
        color: inherit;
    }
    &-normal {
        background-color: #FEF2CC;
    }
    &-blue {
        background-color: #CFE2F3;
    }
    &-purple {
        background-color: #D4BDC7;
    }
  }

  .mark-underline {
      background-color: transparent;
      font-size: 1.125rem;
      font-weight: 700;
      padding: 0;
      position: relative;
      &::after {
          background-color: #000;
          bottom: -3px;
          border-radius: 2px;
          content: '';
          height: 3px;
          left: 0;
          position: absolute;
          width: 100%;
      }
  }
}

